.git
.github
.idea
.vscode
node_modules
vendor
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore
database/database.sqlite
tests
*.md
!README.md
.env
.env.*
!.env.example
public/build
public/hot
public/storage
phpunit.xml
.phpunit.result.cache
